.admin-layout {
    position: absolute;
    z-index: 999999999999999999;
    width: 100%;
    height: 100vh;
    padding: 0 2% 0 2%;
    background: linear-gradient(22deg, rgb(245, 245, 245) 0%, rgb(220, 220, 220) 100%);
}

.admin-menu {
    height: 100%;
    background-color: var(--main-bg);
    backdrop-filter: blur(20%);
    border-radius: var(--default-br);
    margin-right: 20px;
    box-shadow: 5px 5px 30px 10px rgba(0,0,0,.1);
    padding: 2% 0 2% 0;
    overflow-y: auto;
}

.admin-content-container {
    height: 100%;
    background-color: var(--main-bg);
    padding: 1%;
    backdrop-filter: blur(20%);
    border-radius: var(--default-br);
    box-shadow: 5px 5px 30px 10px rgba(0,0,0,.1);
    overflow-y: auto;
    overflow-x: hidden;
}

.admin-menu-entity {
    cursor: pointer;
    font-size: 125%;
    padding: 0 3% 0 3%;
}

.admin-menu-entity:hover {
    background-color: rgba(0,0,0,.1 );
}

.admin-order-entity {
    cursor: pointer;
    min-height: 40px;
    max-height: 100px;
}

.admin-order-entity:hover {
    background-color: rgba(0,0,0,.10);
}

.admin-catalog-buttons {
    position: fixed;
    bottom: 6%;
    right: 2.5%;
}

.admin-orders-add-button {
    background-color: var(--secondary-light-purple);
    border-radius: 50px;
    z-index: 1000000000;
}

.admin-catalog-save {
    height: 50px;
    position: fixed;
    bottom: 7%;
    left: 76.5%;
    width: 100%;
}

.admin-select-file-input {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.15);
    border-radius: 50px;
}

.admin-select-file-photo {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,.15);
    transition: .2s;
    filter: brightness(80%);
}

.admin-bottom-panel {
    background-color: rgba(255,255,255,.20);
    width: 69%;
    position: fixed;
    height: 70px;
    border-radius: var(--default-br);
    display: flex;
    align-items: center;
    backdrop-filter: blur(2px);
    padding: 1%;
    bottom: 7%;
}