.p-50 {
  padding: 50%;
}

.p-25 {
  padding: 25%;
}

.p-10 {
  padding: 10%;
}

.p-5 {
  padding: 5%;
}

.p-1 {
  padding: 1%;
}

.pt-50 {
  padding-top: 50%;
}

.pt-25 {
  padding-top: 25%;
}

.pt-10 {
  padding-top: 10%;
}

.pt-5 {
  padding-top: 5%;
}
.pt-1 {
  padding-top: 1%;
}

.pb-50 {
  padding-bottom: 50%;
}

.pb-25 {
  padding-bottom: 25%;
}

.pb-10 {
  padding-bottom: 10%;
}

.pb-5 {
  padding-bottom: 5%;
}

.pb-1 {
  padding-bottom: 1%;
}

.pl-50 {
  padding-left: 50%;
}

.pl-25 {
  padding-left: 25%;
}

.pl-10 {
  padding-left: 10%;
}

.pl-5 {
  padding-left: 5%;
}

.pl-1 {
  padding-left: 1%;
}

.pr-50 {
  padding-right: 50%;
}

.pr-25 {
  padding-right: 25%;
}

.pr-10 {
  padding-right: 10%;
}

.pr-5 {
  padding-right: 5%;
}

.pr-1 {
  padding-right: 1%;
}

.m-50 {
  margin: 50%;
}

.m-25 {
  margin: 25%;
}

.m-10 {
  margin: 10%;
}

.m-5 {
  margin: 5%;
}

.m-1 {
  margin: 1%;
}

.mt-50 {
  margin-top: 50%;
}

.mt-25 {
  margin-top: 25%;
}

.mt-10 {
  margin-top: 10%;
}

.mt-5 {
  margin-top: 5%;
}

.mt-1 {
  margin-top: 1%;
}

.mb-50 {
  margin-bottom: 50%;
}

.mb-25 {
  margin-bottom: 25%;
}

.mb-10 {
  margin-bottom: 10%;
}

.mb-5 {
  margin-bottom: 5%;
}

.mb-1 {
  margin-bottom: 1%;
}

.ml-50 {
  margin-left: 50%;
}

.ml-25 {
  margin-left: 25%;
}

.ml-10 {
  margin-left: 10%;
}

.ml-5 {
  margin-left: 5%;
}

.ml-1 {
  margin-left: 1%;
}

.mr-50 {
  margin-right: 50%;
}

.mr-25 {
  margin-right: 25%;
}

.mr-10 {
  margin-right: 10%;
}

.mr-5 {
  margin-right: 5%;
}

.mr-1 {
  margin-right: 1%;
}
